
html {

    font-size: 20px;

}


#heading {

    margin: 30px 30px 30px 30px;

    border: 3px solid black;

    text-align: center;

    background-color: lightpink;

    color:black;

    font-size: 1rem;

   

}

.foot {

    border: 3px solid black;

    text-align: center;

    margin-top: 10%;

    background-color: lightpink;

    color: rgba(3, 4, 26, 0.911);

    font-size: 2rem

}
